/*-- Structure --*/
* {
  box-sizing: border-box;
  text-align: center;
}

body {
  margin: 0;
  background-color: bisque;
}

h1,
body {
  color: slategray;
}

.GqIZTN-local-context-viewzzfOEN-local-context-grid-viewrrlZOM-local-context-place-chooser-grid-view {
  width: 115px;
}

/*--form labels--*/
.wrapper {
  width: 500px;
  margin: auto;
}

.legend-label {
  text-align: start;
}

/*-- map styling --*/
/* Set the size of the div element that contains the map */
#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
  background-color: grey;
}

#autocomplete {
  width: 400px;
}